.modal-screen {
    position: absolute;
    top: 60vh;
    color: black;
    font-size: 2rem;
    border: 4px solid black;
    background-color: white;
}

.modal-content {
    padding: 1rem;
}

.modal-upper-banner{
    background-color: gold;
    height: 2rem;
}