.shop-window {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;

    /*Place at cneter of screen*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/sprites/Sprite-0002.png");
    background-size: cover;
    font-size: 2rem;
}

.shop-list {
    background-color: brown;
}

.upgrade-list-item {
    padding: 1rem;
}
.upgrade-list-item:hover {
    translate: -2px;
}