/*
 https://www.dafont.com/pixel-3.font
 krolesz94
*/

@font-face {
    font-family: 'MyFont';
    src: url("./assets/fonts/pixel.ttf") format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(19, 19, 19);
    color: white;
}

body * {
    font-family: MyFont;

    /* Ne peut pas selectionner du texte*/
    user-select: none;

    /*Render du pixel-perfect. */
    image-rendering: pixelated;
    image-rendering: crisp-edges;

        cursor: url('assets/sprites/double-v.png'), auto;
}

ol, ul {
    list-style: none outside none;
}

#app {
    display: flex;
    justify-content: space-evenly;
}


#main-container{
    display: flex;
    flex-direction: column;
}
#money-div {
    display: flex;
    flex-direction: column;
}


#hp-div {

}

#cookie-button {

}

#shop-div {

}